[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
User={{ k8s.account }}
ExecStart={{ bin_dir }}/kube-apiserver \
{% if variant == 'aws' or variant == 'google' -%}
		--advertise-address={{ private_ip }} \
{%- elif k8s.scope == 'internal' -%}
		--advertise-address={{ private_ip }} \
{%- elif k8s.scope == 'external' -%}
		--advertise-address={{ public_ip }} \
{%- elif k8s.scope == 'everything' -%}
		--advertise-address={{ public_ip }} \
{%- endif %}
		--etcd-cafile={{ k8s.apiserver.etcd_ca_file }} \
		--etcd-certfile={{ k8s.apiserver.etcd_cert_file }} \
		--etcd-keyfile={{ k8s.apiserver.etcd_key_file }} \
		--etcd-servers={% for host in etcd.addresses %}https://{{ host }}:{{ etcd.port }}{% if not loop.last %},{% endif %}{% endfor %} \
		--etcd-quorum-read=true \
		--insecure-bind-address=127.0.0.1 \
		--apiserver-count={{ k8s.apiserver.count }} \
		--admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,ServiceAccount,ResourceQuota \
		--allow-privileged=true \
		--authorization-mode=ABAC \
		--authorization-policy-file={{k8s.token_dir}}/authorization-policy.jsonl \
{% if variant == 'aws' or variant == 'google' -%}
		--bind-address={{ private_ip }} \
{%- elif k8s.scope == 'internal' -%}
		--bind-address={{ private_ip }} \
{%- elif k8s.scope == 'external' -%}
		--bind-address={{ public_ip }} \
{%- elif k8s.scope == 'everything' -%}
		--bind-address=0.0.0.0 \
{%- endif %}
		--enable-swagger-ui=true \
		--logtostderr=true \
		--secure-port={{ k8s.apiserver.port }} \
		--insecure-port={{k8s.apiserver.insecure_port}} \
		--kubelet-certificate-authority={{ k8s.apiserver.kubelet_cert_auth }} \
		--service-account-key-file={{ k8s.apiserver.service_account_key_file }} \
		--service-cluster-ip-range={{ k8s.cluster_service_ips }} \
		--service-node-port-range=30000-32767 \
		--token-auth-file={{ k8s.token_dir }}/known_tokens.csv \
		--basic-auth-file={{ k8s.token_dir }}/known_users.csv \
		--tls-cert-file={{ k8s.apiserver.tls_cert_file }} \
		--tls-private-key-file={{ k8s.apiserver.tls_key_file }} \
		--v={{ k8s.log.level }}
Restart=on-failure
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target


# TODO: THINK ABOUT TURNING THIS ON - KARGO
#               --cloud-provider=[aws|gce|openstack]
# 		--client-ca-file={ { k8s.cert_dir } }/ca.pem \
# 		{% if k8s.api_runtime_config is defined %}{% for conf in k8s.api_runtime_config %}--runtime-config={{ conf }} {% endfor %}{% endif %} \
#               network policy - { % if enable_network_policy is defined and enable_network_policy == True % } - --runtime-config=extensions/v1beta1/networkpolicies=true { % endif }
#

