[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.io

[Service]
{% if http_proxy is defined %}
Environment="HTTP_PROXY={{http_proxy}}"
Environment="http_proxy={{http_proxy}}"
{% endif %}
{% if https_proxy is defined %}
Environment="HTTPS_PROXY={{https_proxy}}"
Environment="https_proxy={{https_proxy}}"
{% endif %}
ExecStart=/usr/bin/docker daemon \
  $DOCKER_NETWORK_OPTS \
  --host=unix:///var/run/docker.sock \
{% if k8s.insecure_registry is defined  %}
    {% for registry in k8s.insecure_registry %}--insecure-registry {{ registry }} {% endfor %} \
{% endif %}
  --log-level=error \
  --storage-driver=overlay
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

