description "Docker service"
author "@jainvipin"

respawn

pre-start script
	DOCKER=/opt/bin/$UPSTART_JOB
	if [ -f /etc/default/$UPSTART_JOB ]; then
		. /etc/default/$UPSTART_JOB
	fi
	if [ -f /etc/default/${UPSTART_JOB}-network ]; then
		. /etc/default/${UPSTART_JOB}-network
	fi
	if [ -f $DOCKER ]; then
		exit 0
	fi
    exit 22
end script

script
	# modify these in /etc/default/$UPSTART_JOB (/etc/default/docker)
	DOCKER=/opt/bin/$UPSTART_JOB
	DOCKER_OPTS=""
	if [ -f /etc/default/$UPSTART_JOB ]; then
		. /etc/default/$UPSTART_JOB
	fi
	if [ -f /etc/default/${UPSTART_JOB}-network ]; then
		. /etc/default/${UPSTART_JOB}-network
	fi
{% if http_proxy is defined %}
        export HTTP_PROXY={{http_proxy}}
        export http_proxy={{http_proxy}}
{% endif %}
{% if https_proxy is defined %}
        export HTTPS_PROXY={{https_proxy}}
        export https_proxy={{https_proxy}}
{% endif %}
	exec "$DOCKER" $DOCKER_OPTS $DOCKER_NETWORK_OPTS
end script
