FLANNEL={{flannel_bin_dir}}/flanneld
FLANNEL_OPTS="--etcd-endpoints={% for host in etcd.addresses %}https://{{ host }}:{{ etcd.port }}{% if not loop.last %},{% endif %}{% endfor %} \
            --etcd-keyfile={{ flannel.etcd_key_file }} \
            --etcd-certfile={{ flannel.etcd_cert_file }} \
            --etcd-cafile={{ flannel.etcd_ca_file }} \
            --etcd-prefix=/{{ k8s.cluster_name }}/network \
            --iface={{ flannel_interface }} \
            --public-ip={{ flannel_public_ip }}"
