[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/opt/kubernetes/server/bin/kube-controller-manager \
  $SCHEDULER_OPTS \
  --leader-elect=true \
  --master=http://127.0.0.1:{{k8s.apiserver.insecure_port}} \
  --root-ca-file={{k8s.controller.root_ca_file}} \
  --service-account-private-key-file={{k8s.controller.service_account_key_file}} \
  --v={{k8s.log.level}}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
