###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver

# logging to stderr means we get it in the systemd journal
KUBE_LOGGING="--logtostderr=true"

# Apiserver Log level, 0 is debug
KUBE_LOG_LEVEL="{{ k8s.log.level }}"

# Should this cluster be allowed to run privileged docker containers
KUBE_ALLOW_PRIV="--allow_privileged=true"

# The port on the local server to listen on.
KUBE_API_PORT="--insecure-port={{k8s.apiserver.insecure_port}} --secure-port={{ k8s.apiserver_port }}"

# Insecure API address (default is localhost)
KUBE_API_INSECURE_BIND="--insecure-bind-address={{ cluster.address }}"

# Address range to use for services
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ k8s.master.addresses }}"

# Location of the etcd cluster
KUBE_ETCD_SERVERS="--etcd_servers={% for host in etcd.addresses %}http://{{ host }}:{{ etcd.port }}{% if not loop.last %},{% endif %}{% endfor %}"

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission_control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"

# RUNTIME API CONFIGURATION (e.g. enable extensions)
KUBE_RUNTIME_CONFIG="{% if k8s.api_runtime_config is defined %}{% for conf in k8s.api_runtime_config %}--runtime-config={{ conf }} {% endfor %}{% endif %}"

# TLS CONFIGURATION
KUBE_TLS_CONFIG="--tls_cert_file={{ k8s.cert_dir }}/apiserver.pem --tls_private_key_file={{ k8s.cert_dir }}/apiserver-key.pem --client_ca_file={{ k8s.cert_dir }}/ca.pem"

# Add you own!
KUBE_API_ARGS="--token_auth_file={{ k8s.token_dir }}/known_tokens.csv --basic-auth-file={{ k8s.users_dir }}/known_users.csv --service_account_key_file={{ k8s.cert_dir }}/apiserver-key.pem --advertise-address={{ cluster.address }}"

KUBELET_CLOUDPROVIDER="{{ provider.type }}"

{% if ansible_service_mgr in ["sysvinit","upstart"] %}
DAEMON_ARGS="$KUBE_LOGGING $KUBE_LOG_LEVEL $KUBE_ALLOW_PRIV $KUBE_API_PORT $KUBE_API_INSECURE_BIND \
$KUBE_SERVICE_ADDRESSES $KUBE_ETCD_SERVERS $KUBE_ADMISSION_CONTROL $KUBE_RUNTIME_CONFIG \
$KUBE_TLS_CONFIG $KUBE_API_ARGS $KUBELET_CLOUDPROVIDER"
{% endif %}
